main{
    border: 1px solid red;
    height: 1000px;
    width: 1000px;
    margin: auto;
 

}
header img{
    height: 200px;
    width: 1000px;
}
#barra{
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-block;
    background-color: orange;
    height: 70px;
    width: 1000px;
    
}
article{
    background: rgb(161,161,161);
    background: linear-gradient(0deg, rgba(161,161,161,1) 0%, rgba(204,204,204,0.7245273109243697) 40%, rgba(255,255,255,1) 100%);
    height: 300px;
    width: 300px;
    
}

#barra ul li{
    list-style: none;
    margin-right: 100px;
    margin-left: 60px;
    display: inline;
    color: black;
    
}
#formulario{
 
    display: inline-block;
    height: 650px;
    width: 250px;
}
#articulos{

    float: right;
    height: 650px;
    width: 700px;
}


#a1{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

#a2{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#a3{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#a4{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}



footer p{
    background-color: rgb(44, 44, 44);
    color: azure;
    margin: 0;
    
 }
footer{
    background-color: rgb(44, 44, 44);
    height: 70px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;   
    margin-top: 20px;
}
article header{
    background-color: rgb(44, 44, 44);
    color: ghostwhite;
    display: inline-block;
    width: 300px;
    
    
    text-align: center;
 
}
#a2 header, #a4 header{

    border-top-right-radius: 20px;
}

#a1 header, #a3 header{

    border-top-left-radius: 20px;

}

aside header{
    background-color: rgb(44, 44, 44);
    color: azure;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    padding-top: 10px;
}
table{
   
    height: 150px;

}
aside{
    background-color: rgb(196, 196, 196);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 20px;   
}
#articulos img{
    margin-left: 50px;
    margin-top: 10px;
    height: 100px;
    width: 200px;
}

#menu{
    background-color: rgb(51, 51, 51);
    color: rgb(155, 155, 155);
    height: 415px;
}
#menu header{
    background-color: black;
    color: orange;
    text-align: center;
    height: 30px;

}
#menu ul li{
    list-style: none;
    text-align: center;
    margin-right: 30px;
    margin-top: 30px;
}
#boton{
    border: 2px solid black;
    background-color: orange;
    width: 100px;
}
